* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(214, 214, 214);
}

main {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 360px;
    background-color: white;
    padding: 10px;
}

.header_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner {
    background-color: darkgreen;
    color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 7px;
    font-size: larger;
}


a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link_box {
    margin-bottom: 20px;
}

.link_box :hover {
    color: gold;
}

img {
    display: block;
    max-width: 100%;
}

h2 {
    font-size: large;
}

