* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(187, 187, 187);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    font-size: large;

    background-color: lightgrey;
    padding: 10px;
    margin: auto;
    max-width: 1200px;
}

.head_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.banner {
    background-color: darkgreen;
    color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    justify-content: center;
}


img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

h1 {
    font-size: large;
}


p {
    font-weight: bold;
    margin: 10px;
}

ul {
    margin: 0px;
}

.menu {
    position: fixed;
    background-color: #034001;
    width: 50%;
    height: 100%;
    display: none;
    left: 0px;
    top: 0px;
}

#menu_button {
    border-radius: 5px;
}

#menu_button:hover {
    background-color: goldenrod;
}


.menu_items {
    margin: 15px;
    padding: 5px;
}

a {
    color: goldenrod;
    text-decoration: none;
}

.grid_container_klubbor {
    display: grid;
}

.klubbor {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.klubbaInfo {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

#menuclose {
    display: flex;
    justify-content: end;
}

#cross {
    margin: 5px;
}

.news {
    background-color: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* max-width: 360px; */
}

#news_message {
    color: #636363;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.news_head {
    margin: 10px;
}

.news_paragraph {
    max-width: 280px;
}

#forsasong {
    grid-area: a;
}

#forlangning {
    grid-area: b;
}

.news_container {
    padding: 5px;
}

.news_grid {
    display: grid;
    grid-template-areas:
     "a"
     "b"
     ;
}