* {
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 214, 214);
}

main {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 10px;
    margin: auto;
    max-width: 1200px;
}

.head_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product_box {
    border: solid grey 2px;
    padding: 5px;
    border-radius: 5px;
}

.banner {
    background-color: darkgreen;
    color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 7px;
    font-size: larger;
}


a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link_box {
    margin-bottom: 20px;
    
    max-width: 165px;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 10px;
}

.link_box :hover {
    color: gold;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: large;
}

h3 {
    margin-bottom: 20px;
}

.essential_buttons_hidden {
    display: none;
}

p {
    font-weight: bold;
    margin: 10px;
}

ul {
    margin: 0px;
}