* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(187, 187, 187);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    font-size: large;
    background-color: lightgrey;
    padding: 10px;
    margin: auto;
    max-width: 1200px;
}

.head_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.banner {
    background-color: darkgreen;
    color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
}


img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

h1 {
    font-size: large;
}


p {
    font-weight: bold;
    margin: 10px;
}

ul {
    margin: 0px;
}

.menu {
    padding: 0;
    list-style-type: none;
    display: none;
    flex-direction: column;
    /* align-items: end; */
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    top: 0;
    right: 0;
}

.menu_flex {
    flex-direction: row;
    justify-content: end;
}

#cross {
    width: max-content;
}

#menu_open,
#menu_close {
    cursor: pointer;
}


.menu_link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #636363;
    border-radius: 5px;
}

nav {
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
}

a {
    text-decoration: none;
}

.grid_container_klubbor {
    display: grid;
}

.klubbor {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid_text {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

.content_box {
    background-color: rgb(236, 236, 236);
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#news_message {
    color: #636363;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content_box_head {
    margin: 10px;
}

.grid_text_box {
    max-width: 280px;
}

#forsasong {
    grid-area: a;
}

#forlangning {
    grid-area: b;
}

.news_container {
    padding: 5px;
}

.grid {
    display: grid;
    grid-template-areas:
        "a"
        "b"
    ;
}


@media screen and (min-width: 768px) {
    .menu {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: lightgrey;
        width: max-content;
    }

    .linkbox {
        display: flex;
        flex-direction: row;
    }

    .menu_link:hover {
        background-color: #636363;
        color: lightgrey;
    }

    #menu_close,
    #menu_open {
        display: none;
    }



    .grid {
        grid-template-areas:
            "a b"
        ;
    }

    .content_box {
        margin: 5px;
    }
}

/* @media screen and (min-width: 1440px) {
    
} */